<ion-view view-title="Config">
  <ion-content class="padding">
    <h2>Config</h2>
    <button class="button button-flat button-block button-balanced icon ion-ios-barcode-outline" ng-click="scan()">
      Scan QR Code
    </button>
    <button class="button button-flat button-block button-balanced icon ion-ios-barcode-outline" ng-click="test()">
      test raven
    </button>
    <button class="button button-flat button-block button-balanced icon ion-ios-barcode-outline" ng-click="showPref()">
      show pref
    </button>
  </ion-content>
</ion-view>
